* {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #303030;
    display: flex;
    flex-direction: column;
    align-items: center;
}


main {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 5px;
}

#label-converter-de {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}



#label-para {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}


#label-valor {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items:baseline;
}

span {
    right: 5px;
    font-size: 10px;
}


select {
    width: 200px;
    height: 25px;
    padding-left: 10px;
    border: 1px solid;
    border-radius: 5px;
    font-size: 12px;
    appearance:none;
    cursor: pointer;
}

input {
    width: 200px;
    height: 25px;
    padding-left: 10px;
    border: 1px solid;
    border-radius: 5px;
    appearance:none;
}

button {
    margin: 10px 0;
    width: 150px;
    height: 25px;
    color: #ffffff;
    background-color: #303030;
    border-radius: 7px;
    cursor: pointer;
}

section {
    border: 1px solid #303030;
    border-radius: 20px;
    width: 90%;
    padding-top: 10px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-moedas-e-valores {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bandeira-moeda {
    width: 50px;
}

#arrow {
    width: 50px;
    margin: 10px 0;
}

.paragrafo-moeda-valor {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.paragrafo-moeda-valor-final, .currency-name{
    margin-bottom: 10px;
}
